.scroll-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.scroll-container:hover .circular-container {
  animation-play-state: paused;
}

.scroll-container::before,
.scroll-container::after {
  position: absolute;
  bottom: 20;
  width: 300px;
  height: 100%;
  content: "";
  z-index: 1;
}

.scroll-container::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #111827);
}
.scroll-container::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #111827);
}

.circular-container {
  display: inline-flex;
  animation: img1Rotate 50s infinite linear;
}

.circular-container div {
  margin: 0 50px;
}

@keyframes img1Rotate {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 640px) {
  .scroll-container::before {
    width: 100px;
  }
  .circular-container div {
    margin: 10px;
  }
}
@media (min-width: 641px) and (max-width: 1023px) {
  .circular-container div {
    margin: 0 30px;
  }
}
